0,140,140,2.5351041002242130,0,0,-2,0,0
6,2,4,2
oxides
Si           3.78251     3.78251    0
Mg           4.87225     4.87225    0
Fe            .60285      .60285    0
Ca            .28725      .28725    0
Al            .43386      .43386    0
Na            .02127      .02127    0
1,1,1,1
/Users/stixrude/qh/invert/par/inv010121
51
phase plg
1
an
ab
phase sp
0
sp
hc
phase opx
1
en
fs
mgts
odi
phase c2c
0
mgc2
fec2
phase cpx
1
di
he
cen
cats
jd
phase gt
0
py
al
gr
mgmj
namj
phase cpv
0
capv
phase ol
1
fo
fa
phase wa
0
mgwa
fewa
phase ri
0
mgri
feri
phase il
0
mgil
feil
co
phase pv
0
mgpv
fepv
alpv
phase ppv
0
mppv
fppv
appv
phase cf
0
mgcf
fecf
nacf
phase nal
0
mnal
fnal
nnal
phase mw
0
pe
wu
anao
phase qtz
0
qtz
phase coes
0
coes
phase st
0
st
phase apbo
0
apbo
phase ky
0
ky
phase neph
0
neph
